<aside class="animated zoomIn">
  <h2>Poll: Te interesa mucho angular elements?</h2>
  <hr>
  <div *ngIf="!hasVoted" class="animated bounceInUp">
    <button class="green"
    (click)="vote('yes')">Yes! :)</button>
    <button class="green"
    (click)="vote('no')">No! :(</button>
  </div>
  <div *ngIf="hasVoted"  class="animated rotateInUpLeft">
    <div class="progress">
      <span [ngStyle]="{'width.%': yesPercent}"></span>
      <span [ngStyle]="{'width.%': noPercent}"></span>
    </div>
  </div>
</aside>
